<!-- wp:template-part {"slug":"header","tagName":"header","align":"full","className":"site-header"} /-->
<!-- wp:template-part {"slug":"navigation","tagName":"section","align":"full","className":"site-navigation"} /-->

<!-- wp:group {"tagName":"div","layout":{"inherit":true}} -->
<div class="wp-block-group">

<!-- wp:columns {"className":"has-sidebar-right is-no-margin-bottom"} -->
<div class="wp-block-columns has-sidebar-right is-no-margin-bottom">

	<!-- wp:column -->
	<div class="wp-block-column">
		<!-- wp:spacer {"height":30} -->
		<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->
		<!-- wp:template-part {"slug":"main","tagName":"main","className":"site-main", "layout":{"inherit":true}} /-->
		<!-- wp:spacer {"height":30} -->
		<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->
	</div>
	<!-- /wp:column -->

	<!-- wp:column {"width":"240px","className":"responsive-space-left"} -->
	<div class="wp-block-column responsive-space-left" style="flex-basis:240px">
		<!-- wp:spacer {"height":30} -->
		<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->
		<!-- wp:template-part {"slug":"sidebar-left","tagName":"aside","className":"sidebar-left"} /-->
		<!-- wp:spacer {"height":30} -->
		<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->
	</div>
	<!-- /wp:column -->

</div>
<!-- /wp:columns -->

</div><!-- /wp:group -->

<!-- wp:group {"className":"is-box-shadow","backgroundColor":"silver","layout":{"inherit":true}} -->
<div class="wp-block-group is-box-shadow has-silver-background-color has-background">
	<!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","className":"site-footer"} /-->